" Plug 'machakann/vim-highlightedyank'
" Plug 'tpope/vim-commentary'

set scrolloff=10
set clipboard+=unnamed
set highlightedyank
set surround
set showmode
set showcmd
set incsearch
set hlsearch
set visualbell
set easymotion
set linenumber
set notimeout
set sneak
set smartcase
set ignorecase
set nerdtree
map Q gq

let mapleader = " "
inoremap jk <Esc>

map <leader>q <action>(CloseContent)

noremap <S-h> 0
noremap <S-j> 5j
noremap <S-k> 5k
noremap <S-l> $

noremap <C-j> :action MoveLineDown<CR>
noremap <C-k> :action MoveLineUp<CR>

map <up> <nop>
map <right> <nop>
map <left> <nop>
map <down> <nop>
:map \r <Action>(ReformatCode)
